.fade.in {
    opacity: 1;
  }
  
  .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  
  .modal-backdrop.in {
    opacity: 0.5;
  }
  table{
    border-collapse: separate; 
    border-spacing: 10px;
    margin: 0 0 0 0;
    margin:10px;
  }