<nav class="navbar navbar-light bg-faded">
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" (click)="goHome()">Home</a> 
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="goPessoa()">Pessoas</a> 
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="goGrafico()">Gráficos</a> 
    </li>
  </ul>
</nav>